@import "tailwindcss";
@import "tw-animate-css";

@theme {

  --color-primary: #3BB77E;
  --color-secondary: #BCE3C9;
  --color-text-gray: #7E7E7E;
  --color-stroke: #ECECEC;
  --color-gold: #FDC040;
  --color-bg-item: #F4F6FA;
  --color-bg-base: #ECECEC;



  --breakpoint-xxl: 100rem;
  --breakpoint-xl: 75rem;
  --breakpoint-lg: 64rem;
  --breakpoint-md: 48rem;
  --breakpoint-sm: 32rem;
}







body {
  @apply bg-bg-base
}